/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16pt;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100dvh;
  background: linear-gradient(lightblue 49%, lightgrey 51%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  background-color: white;
  width: 80%;
  height: 75dvh;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

header {
  text-align: center;
  margin: 30px;
}

input {
  font: inherit;
  box-sizing: border-box;
}

input[type='submit'] {
  cursor: pointer;
}

.app {
  margin: 0 auto;
  max-width: 600px;
  width: 95%;
}

.app h1:after {
  content: '💭';
  margin-left: 0.5em;
}

.thought-form {
  display: flex;
  flex-wrap: nowrap;
}

.thought-form input {
  padding: 1.5rem;
  border: 1px solid #666;
  border-radius: 3px;
}

.thought-form input[type='text'] {
  flex-grow: 1;
}

.thought-form input[type='text']:focus {
  outline: none;
}

.thoughts {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

.thought {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  background-color: #eee;
}

.thought .remove-button {
  font-size: 80%;
  float: right;
  border: 0;
  border-radius: 3px;
  background: transparent;
}

.thought .remove-button:hover {
  color: #fff;
  background-color: #000;
}

/* Media Queries */

@media screen and (max-width: 610px) {
  .app h1 {
    font-size: 2rem;
  }

  .thought {
    font-size: 1.25rem;
  }

  .thought-form input[type='text'] {
    height: fit-content;
  }
}

@media screen and (max-width: 510px) {
  .thought-form {
    display: flex;
    flex-direction: column;
  }

  .app h1:after {
    content: unset;
    margin-left: unset;
  }

  .thought-form input[type='submit'] {
    height: 2rem;
    padding: unset;
  }

  .thought {
    font-size: 1rem;
  }
}

/* Animations */

.submit-animation {
  transition: opacity 0.3s ease-in-out;
}

.submit-animation:active {
  transform: translateY(2px);
}
