@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font: 'Rajdhani', sans-serif;
  background-color: #78716c;
}
html,
body {
  @apply bg-gradient-to-b
  from-sky-200 to-stone-500;
  font-family: var(--main-font);
  height: stretch;
  min-height: 100vh;
}

body {
  @apply flex flex-col items-center justify-center text-base;
}

#root {
  @apply mx-auto my-10 h-4/5 w-4/5 overflow-hidden rounded-lg bg-white shadow-2xl lg:max-w-3xl;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.383);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

h1:after {
  content: '💭';
}

.thought-form input,
.thought-form input[type='text'] {
  border: 1px solid rgb(120 113 108);
}

.thought-form input[type='submit'] {
  border-top: none;
}

@media screen and (min-width: 640px) {
  .thought-form input[type='submit'] {
    border-top: 1px solid rgb(120 113 108);
    border-left: none;
  }
}
